.container {
  position: relative;
}

.lowBar {
  height: 10px;
  width: 250px;
  background-color: black;
}

.middleBar {
  width: 10px;
  height: 300px;
  margin-left: 120px;
  background-color: black;
}

.topBar {
  height: 10px;
  width: 150px;
  background-color: black;
  margin-left: 120px;
}

.shortBarDown {
  width: 10px;
  height: 30px;
  background: black;
  top: 0;
  position: absolute;
  right: 0;
}

.HangManHead {
  height: 30px;
  width: 30px;
  border: 10px solid black;
  border-radius: 100%;
  position: absolute;
  top: 30px;
  right: -20px;
}

.HangManBody {
  position: absolute;
  width: 10px;
  height: 90px;
  background: black;
  top: 80px;
  right: 0;
}

.rHand {
  position: absolute;
  width: 60px;
  height: 10px;
  background: black;
  top: 110px;
  rotate: -30deg;
  right: -60px;
  transform-origin: left bottom;
}
.lHand {
  position: absolute;
  width: 60px;
  height: 10px;
  background: black;
  top: 110px;
  rotate: 30deg;
  right: 10px;
  transform-origin: right bottom;
}

.rLeg {
  position: absolute;
  width: 10px;
  height: 70px;
  background: black;
  top: 160px;
  rotate: -40deg;
  right: 0;
  transform-origin: right top;
}

.lLeg {
  position: absolute;
  width: 10px;
  height: 70px;
  background: black;
  top: 165px;
  rotate: 40deg;
  right: 0;
  transform-origin: right top;
}
